html,body{
  margin: 0;
  padding: 0;
  background-color: #dde6e9;
  height: 100%;
}
.navbar-light{
  background-color: #fff !important;
  border-bottom: solid 1px #ededed !important;
}
.sidebar{
  width: 300px;
  background-color: #fbfbfb;
  position: fixed;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  box-shadow: -3px 0px 8px #cad9de;
  padding: 0;
}
  .sidebar button{
    display: block;
    padding: 10px 20px;
    border: none;
    width: 100%;
    outline: none;
    text-align: left;
    background-color: #f9f9f9;
    border-bottom: solid 1px #e4ebf1;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s ease;
  }
    .sidebar button:active{
      background-color: #47beff;
      color: #fff;
    }
    .sidebar #colorSwitchbtn{
      background-color: #47beff;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      margin-top: 2px;
    }
#canvas{
  box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.15);
  position:absolute;
  top:50%;
  left:50%;
  max-height: 100%;
  max-width: 100%;
  transform:translate(-50%,-50%);
}

.btn-success{
  background-color: #1fd5ad;
  border: solid 1px #1fd5ad;
  border-radius: 2px;
}
  .btn-success:hover{
    background-color: #1CCAA1;
    border: solid 1px #1CCAA1;
  }

.customForm{
  background-color: #e4ebf1;
  padding: 10px 20px;
}
  .customForm input{
    border: none;
    border-radius: 3px;
    margin: 2px 0;
    padding: 5px 10px;
  }

.file-upload{
  display:block;
  text-align:center;
  font-family: Helvetica, Arial, sans-serif;font-size: 12px;
}
.file-upload .file-select{
  display:block;
  border: 2px solid #dce4ec;color: #34495e;
  cursor:pointer;
  height:40px;
  line-height:40px;
  text-align:left;
  background:#FFFFFF;
  overflow:hidden;
  position:relative;}
.file-upload .file-select .file-select-button{
  background:#dce4ec;
  padding:0 10px;
  display:inline-block;
  height:40px;
  line-height:40px;
}
.file-upload .file-select .file-select-name{
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}
.file-upload .file-select:hover{
  border-color:#34495e;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button{
  background:#34495e;
  color:#FFFFFF;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.file-upload.active .file-select{
  border-color:#3fa46a;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.file-upload.active .file-select .file-select-button{
  background:#3fa46a;
  color:#FFFFFF;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.file-upload .file-select input[type=file]{
  z-index:100;
  cursor:pointer;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity:0;
  filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{
  opacity:0.65;
}
.file-upload .file-select.file-select-disabled:hover{
  cursor:default;
  display:block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor:pointer;
  height:40px;
  line-height:40px;
  margin-top:5px;
  text-align:left;
  background:#FFFFFF;
  overflow:hidden;
  position:relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button{
  background:#dce4ec;
  color:#666666;
  padding:0 10px;
  display:inline-block;
  height:40px;
  line-height:40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name{
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}